/* MarkDown*/
.markdown {
	line-height: 2rem;
}

.markdown a {
	color: rgb(254, 110, 11);
    margin-block-start: 15px;
	margin-block-end: 15px;
}

.markdown a:hover{
	text-decoration: underline;
}

.markdown h1 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
	color: rgb(210, 10, 57);
	margin-block-start: 1.5rem;
	margin-block-end: 2rem;
}

.markdown h2 {
	font-size: 1.75rem;
	font-weight: 600;
	line-height: 1.2;
	color: rgb(254, 110, 11);
	margin-block-start: 1.5rem;
	margin-block-end: 2rem;
}

.markdown h3 {
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 1.2;
	color: rgb(64, 160, 43);
	margin-block-start: 1.5rem;
	margin-block-end: 2rem;
}

.markdown h3::before{
	content: "- ";
}


.markdown p {
	font-size: 1.25rem;
    font-weight: 300;
    margin-block-start: 1rem;
	margin-block-end: 1rem;
}

.markdown li {
	font-size: 1.25rem;
    font-weight: 300;
	margin-left: 2rem;
    margin-block-start: 1rem;
	margin-block-end: 1rem;
}

.markdown li {
	list-style-type: circle;
}

.markdown ul ul li {
	list-style-type: disc;
}

.markdown ul ul ul li {
	list-style-type: square;
}

.markdown blockquote > ul > li {
	margin-left: 2.5rem;
	list-style-type: square;
}

.markdown hr {
	margin-block-start: 2rem;
	margin-block-end: 2rem;
}

.markdown pre {
	margin-left: 1rem;
	margin-right: 1rem;
	margin-block-start: 15px;
	margin-block-end: 15px;
	padding: 2rem;
	background-color: #2a2a2a;
	border: .3em solid #7a6651;
	border-radius: .5em;
	box-shadow: 1px 1px .5em #000 inset;
	color: white;
	overflow: auto;
}

.markdown code {
	color: #437ECC;
}

.markdown pre code {
	line-height: 2rem;
	font-size: larger;
	color: white;
}

.markdown pre > code .inline {
	display: block;
}

.markdown pre > code .bracket {
	color: rgb(255, 153, 0);
}

.markdown pre > code .annotation {
	color: gray;
}

.markdown table{
	width: 100%;
	table-layout: fixed;
	box-sizing: border-box;
    border: 1px solid #ababab;
}

.markdown th, td {
	text-align: center;
	height: 2rem;
	vertical-align: middle;
	border: 1px solid #ababab;
	padding: 1rem;

}

.markdown th {
	background-color: #437ECC;
	color: white;
	font-weight: 600;
}

.markdown td {
	overflow-wrap: break-word;
}